<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ja">
<head>
<meta th:replace="/include/head" />
<title>つぶやきアプリ</title>
</head>
<body>
	<header th:replace="/include/header"></header>
	<main class="container">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>ユーザーID</th>
					<th>名前</th>
					<th>権限</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="user,status : ${userList}" th:attr="onClick=|location.href='/users/updateForm/${user.userId}'|">
					<td th:text="${status.count}"></td>
					<td th:text="${user.userId}"></td>
					<td th:text="${user.name}"></td>
					<td th:text="${user.role}"></td>
				</tr>
			</tbody>
		</table>
		<form action="/users/creationForm.html" th:action="@{/users/creationUser}" method="get">
			<input type="submit" value="作成" class="btn btn-primary" />
		</form>
	</main>

	<footer th:replace="/include/footer"></footer>
</body>

</html>
