<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ja">
<head>
<meta th:replace="/include/head" />
<title>つぶやきアプリ</title>
</head>
<body>
	<header th:replace="/include/header"></header>
	<main class="container">
		<h1 class="mt-3">管理者用ユーザー情報変更</h1>
		<a href="/user/list.html" th:href="@{/users}">一覧へ</a>
		<div th:if="${noUserErrMessage}" class="alert alert-danger" th:text="${noUserErrMessage}">(error)</div>
		
		<div class="w-50 m-auto" th:if="!${noUserErrMessage}">
			<form th:object="${userUpdateForm}" action="#" th:action="@{/users/updateForm/{userId}(userId=${userId})}" method="post" autocomplete="off">
				<div th:if="${errMessage}" class="alert alert-danger" th:text="${errMessage}">(error)</div>
				<div class="mt-3">
					<label for="userIdInput" class="form-label">ユーザID</label>
					<input type="text" id="userIdInput" class="form-control" th:field="*{userId}" th:errorclass="is-invalid" readonly="readonly">
				</div>
				<div class="mt-3">
					<label for="usernameInput" class="form-label">ユーザ名</label>
					<input type="text" id="nameInput" class="form-control" th:field="*{name}" th:errorclass="is-invalid">
					<p class="invalid-feedback" th:errors="*{name}">(error)</p>
				</div>

				<div class="mt-3">
					<label for="authorityDiv" class="form-label">権限</label>
					<div id="authorityAdminDiv" class="form-check">
						<input type="radio" id="authorityAdminInput" class="form-check-input" th:field="*{role}" th:errorclass="is-invalid" value="ADMIN">
						<label for="authorityAdminInput" class="form-check-label">ADMIN</label>
					</div>
					<div id="authorityUserDiv" class="form-check">
						<input type="radio" id="authorityUserInput" class="form-check-input" th:field="*{role}" th:errorclass="is-invalid" value="USER">
						<label for="authorityUserInput" class="form-check-label">USER</label>
					</div>
					<p class="small text-danger" th:errors="*{role}" th:if="${#fields.hasErrors('role')}">(error)</p>
				</div>
				<div class="mt-3">
					<input type="submit" value="変更" class="btn btn-primary">
					<a href="/users/list.html" th:href="@{/users}" class="btn btn-primary">キャンセル</a>
					<a href="/users/deleteConfirm.html" th:href="@{/users/deleteConfirm/{userId}(userId=${userId})}" class="btn btn-danger">削除</a>
				</div>
			</form>
		</div>
	</main>
	<footer th:replace="/include/footer"></footer>
</body>
</html>
