<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ja">
<head>
<meta th:replace="/include/head" />
<title>つぶやきアプリ</title>
</head>
<body>
	<main class="container">
		<h1>システムエラー画面</h1>
		<div class="m-auto">
			<!--/* エラーメッセージ */-->
			<div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}">(error)</div>
		</div>
		
		<div class="text-center">
			<a href="/login" th:href="@{/login}" class="btn btn-primary">ログイン画面へ</a>
		</div>
	</main>
	<footer th:replace="/include/footer"></footer>
</body>
</html>
