body {
	background-color: #fafcee; /*背景色*/
	display: flex;
	flex-flow: column;
	min-height: 100vh;
}

main {
	flex: 1;
}

/* アイコン */
.icon {
	position: relative;
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	box-shadow: 0px 0px 16px -6px rgba(0, 0, 0, 0.6);
}

.icon img {
	border-radius: 50%;
	position: absolute;
	top: 0;
	width: 100%;
}

.icon span {
	color: #121212bd;
	position: absolute;
	bottom: -15px;
}


/* アイコンアップロード */
.cropper-view-box, .cropper-face {
	border-radius: 50%;
}

.cropper-container {
	width: 100%;
}
.cropper-container input {
	font-size: 0.8rem;
	line-height: 0.8rem;
}

#result img{
	width: 100%;
}