<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ja">
<head>
<meta th:replace="/include/head" />
<title>つぶやきアプリ</title>
</head>
<body>
	<header th:replace="/include/header"></header>
	<main class="container">
		<h1>つぶやきアプリ</h1>
		<table class="table">
			<tr>
				<th>名前</th>
				<th>つぶやき</th>
				<th>日時</th>
			</tr>
			<tr th:each="tweet : ${tweetList}">
				<td>
					<a th:href="@{/tweetpersonal/{userId}(userId=${tweet.userId})}" class="icon"> 
						<img alt="ユーザーアイコン" th:src="${tweet.iconUrl}" />
						<span th:text="${tweet.name}"></span>
					</a>
				</td>
				<td th:text="${tweet.tweet}"></td>
				<td th:text="${#dates.format(tweet.date,'yyyy/MM/dd HH:mm:ss')}"></td>
			</tr>
		</table>
		<div>
			<a href="/tweetForm.html" th:href="@{/tweetForm}" class="btn btn-primary">つぶやく</a>
		</div>

	</main>
	<footer th:replace="/include/footer"></footer>
</body>
</html>
