<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ja">
<head>
<meta th:replace="/include/head" />
<title>つぶやきアプリ</title>
</head>
<body>
	<main class="container">
		<h1>ログイン</h1>
		<div class="w-50 m-auto">
			<!--/* ログイン失敗時のエラーメッセージ */-->
			<div th:if=${param.error} class="alert alert-danger" th:text="#{login.failed}">(faild)</div>
			<!--/* ログアウト時のエラーメッセージ*/-->
			<div th:if=${param.logout} class="alert alert-info" th:text="#{login.logoutcomplete}">(logoutcomplete)</div>

			<form action="#" th:action="@{/login}" method="post">
				<div class="mt-3">
					<label for="userIdInput" class="form-label">ユーザID</label>
					<input type="text" id="userIdInput" class="form-control" name="userId">
				</div>
				<div class="mt-3">
					<label for="passwordInput" class="form-label">パスワード</label>
					<input type="password" id="passwordInput" class="form-control" name="password">
				</div>
				<div class="mt-3">
					<input type="submit" value="ログイン" class="btn btn-primary">
				</div>
			</form>
		</div>
	</main>

	<footer th:replace="/include/footer"></footer>
</body>
</html>
