<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta th:replace="/include/head" />
		<title>つぶやきアプリ</title>
	</head>
	<body>
		<h1>つぶやきアプリ</h1>
		<form action="tweetlist.html" method="get">
			<p>
				名前:
				<br />
				<input type="text" name="name" maxlength="50" />
			</p>

			<p>
				つぶやき:
				<br />
				<textarea rows="5" cols="40" name="tweet"></textarea>
			</p>

			<input type="submit" value="送信" />
			<input type="reset" />
			<input
				type="button"
				onclick="location.href='tweetlist.html'"
				value="戻る"
			/>
		</form>
		<footer th:replace="/include/footer"></footer>
	</body>
</html>
