<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ja">
<head>
<meta th:replace="/include/head" />
<title>つぶやきアプリ</title>
</head>
<body>
	<header th:replace="/include/header"></header>
	<main class="container">
		<div th:if="${nouser}" class="alert alert-danger" th:text="#{error.nouser}">(error)</div>
		<h1 th:if="!${nouser}" th:text="${userName} + 'さんのつぶやき'"></h1>
		<table  class="table">
			<tr>
				<th>名前</th>
				<th>つぶやき</th>
				<th>日時</th>
			</tr>
			<tr th:each="tweet : ${tweetList}">
				<td th:text="${tweet.name}"></td>
				<td th:text="${tweet.tweet}"></td>
				<td th:text="${tweet.date}"></td>
			</tr>
		</table>
	</main>
	<footer th:replace="/include/footer"></footer>
</body>
</html>
